.main{
    min-height: 100vh;
    background-image: url("/home/aarushi/Coding/weatherapp/pxfuel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.input{
    width: auto;
    height: 20px;
    padding: 50px;
    background-color: rgba(0,0,0, 0.5);
}

/* .topBar{
    width: auto;
    height: 20px;
    padding: 50px;
    background-color: rgba(0,0,0, 0.5);
} */

.textbox{
    width: 200px;
    height: 20px;
    margin-left: 100px;
}

.display-box{
    display: flex;
    flex-direction: column;
}

