.main{
    height: 100%;
    width: 100%;
    background-image: url("/home/aarushi/Coding/weatherapp/pxfuel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    height: 100%;
    width: 100%;
    margin: 0px; 
    /* background-image: url("/home/aarushi/Coding/weatherapp/pxfuel.jpg"); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.input{
    width: auto;
    height: 20px;
    padding: 50px;
    background-color: rgba(0,0,0, 0.5);
}

/* .topBar{
    width: auto;
    height: 20px;
    padding: 50px;
    background-color: rgba(0,0,0, 0.5);
} */

.textbox{
    width: 200px;
    height: 20px;
    margin-left: 100px;
}

.display-box{
    display: flex;
    flex-direction: column;
}

.dishplay{
    margin: 500px;
}

.loca{
    margin-top: 100px;
}